{% extends "base.html" %}

{% block main %}
<h2>Latest Official Reports</h2>
<ul>{% for object in official %}
	<li><a href="{{ object.get_absolute_url}}">{{ object.incident_type }} at {{ object.official.location }} on {{ object.pub_date }}</a></li>
{% endfor %}</ul>

<h2>Lastest Citizen Reports</h2>
<ul>{% for object in reports %}
	<li><a href="{{ object.get_absolute_url}}">{{ object.incident_type }} at {{ object.report.location }} on {{ object.pub_date }}</a></li>
{% endfor %}</ul>
{% endblock %}
