{% extends "base.html" %}

{% block main %}
<body>
    <div class="container-fluid">
	<div class="sidebar">
	        <h5>Latest Official Reports</h5>
		    <ul>{% for object in official %}
		        <li><a href="{{ object.get_absolute_url}}">{{ object.incident_type }} at {{ object.location }} on {{ object.pub_date }}</a></li>

{% endfor %}</ul>
	    <h5>Lastest Citizen Reports</h5>
		<ul>{% for object in reports %}
		    <li><a href="{{ object.get_absolute_url}}">{{ object.incident_type }} at {{ object.location }} on {{ object.pub_date }}</a></li>
{% endfor %}</ul>
	</div>
	<div class="content">
	    <img src="/static/MapPointsLatest.jpg" width=600/>
	</div>
    </div>
</body>

{% endblock %}
